<p id="notice"><%= notice %></p>

<h2>Item</h2>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @item.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<br>

<h2>Leave Comment</h2>
<%= render 'comments/form' %>

<h2>Comments</h2>
<% @item.comments.order(id: :desc).each do |comment|%>
<br>
<p>Title:<%= comment.title%></p>
<p>Content:<%= comment.content%></p>
<p><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></p>
<% end %>

<%= link_to 'Edit items imfo', edit_item_path(@item) %> |
<%= link_to 'Back to index', items_path %>
