<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @item.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<br>

<p>Leave Comment</p>
<%= render 'comments/form' %>

<% @item.comments.each do |comment|%>
<br>
<p>Title: <%= comment.title%></p>
<p>Content: <%= comment.content%></p>
<br>
<% end %>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
